<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="about.css">
    <script src="excersise.js"></script>
    <nav>
        <div>
            <h1 class="fit">FitTech</h1>
        </div>
        <div class="navbar" id="navbar">
            <li><button onclick="window.location.href='../../index.html'" class="navLink">Home</button></li>
            <li><button onclick="window.location.href='../nav/about.html'" class="navLink">About</button></li>
            <li><button onclick="window.location.href='../nav/service.html'" class="navLink">Services</button></li> 
        </div>
    </nav>
    <div class="container">
        <h2>ABOUT</h2>
        <div class = "section-part">
            <div class="section">
                <h3>Why Choose FitTech?</h3>
                <p>Choosing Fittech is like unlocking a treasure chest of personalized fitness. We understand that no two journeys are the same, and that’s why we tailor our diet and exercise plans to fit your unique body metrics and sports aspirations.</p>
            </div>
            <div class="section">
                <h3>How Can FitTech Help a Wide Variety of People?</h3>
                <p>Fittech is your personal trainer in your pocket, ready to serve everyone from busy bees to aspiring athletes. Our app fits seamlessly into your life, empowering you to achieve your aspirations.</p>
            </div>
            <div class="section">
                <h3>Is There Any Other App That Works Like Us?</h3>
                <p>While many apps promise fitness, FitTech delivers a symphony of personalization and purpose. We craft a unique melody tailored just for you.</p>
            </div>
            <div class="section">
                <h3>How Are We Different?</h3>
                <p>In a world full of fitness fads, FitTech is a breath of fresh air. We cultivate a rich garden of options tailored to your body and preferences.</p>
            </div>
            <div class="section">
                <h3>What Is Our Vision?</h3>
                <p>At FitTech, our vision is to light the path to fitness for everyone. Our goal is to create a thriving community where individuals can blossom into their best selves.</p>
            </div>
        </div>
    </div>
</body>
</html>