* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

body {
  height: 100%;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(../../../static/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 24px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 1000;
  background-color: rgba(68, 78, 84, 0.342);
  box-shadow: 1px 1px 10px rgb(175, 174, 174);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

nav li button {
  text-decoration: none;
  background: linear-gradient(to bottom, #04566c, #47051d);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  font-family: "Fugaz One", cursive;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgb(162, 216, 245);
  transition: 0.3s ease;
}

nav li button:hover {
  transform: translateY(-5px) scale(1.05);
  font-weight: 600;
  border: 2px solid black;
  box-shadow: 0 3px 15px rgb(197, 162, 245);
  background: linear-gradient(to bottom, #94dfea, #d997df);
  color: black;
}

nav h1 {
  font-size: 45px;
  font-family: "Fugaz One", cursive, Georgia, "Times New Roman", Times, serif;
  margin-left: 55px;
  background: linear-gradient(to right, #8ab6ff, #ff87a3, #f9d3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.sports-name {
  margin-top: 30px;
  font-size: 20px;
  color: #92caca;
  text-shadow: 2px 3px 5px rgb(112, 114, 114);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
}

.sports {
  width: 50%;
  margin-top: 10vh;
  flex: wrap;
}

.box {
  z-index: 1;
  border: 2px solid #043854;
  color: white;
  width: 100%;
  padding: 20px 0;
  margin-top: 40px;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(110, 0, 0, 0.13);
  border: 2px solid black;
  box-shadow: 0 0 10px #fff;
  backdrop-filter: blur(5px);
  transition: 0.3s ease;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.04);
  color: rgb(184, 236, 236);
  background: linear-gradient(135deg, #3f2969, #2f13bb);
}

#options {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dietbox,
.videosbox,
.aboutbox {
  width: 40vh;
  height: 40vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border: 3px solid #bcdee8;
  background-color: rgba(255, 255, 255, 0.13);
  box-shadow: 5px 5px 30px black;
  backdrop-filter: blur(10px);
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.dietbox:hover,
.videosbox:hover,
.aboutbox:hover {
  transform: scale(1.1);
  box-shadow: 10px 15px 30px #fff;
}

.container img {
  width: 35vh;
  height: 32vh;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
}

.image_div {
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: wrap;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
}

.image_div .p-big {
  display: block;
  font-size: 15px;
  margin-top: 30px;
  font-family: Courier New;
  font-weight: 600;
  text-shadow: 2px 2px 4px black;
  border: 4px dashed black;
  padding: 10px;
  background-color: #1d427588;
  backdrop-filter: blur(10px);
  box-shadow: -1px 1px 30px white;
}

.image_div .p-small {
  display: none;
}

/* for bigger than tab ig? */

@media (max-width: 1200px) {
  nav h1 {
    font-size: 35px;
    margin-left: 30px;
  }

  .navbar {
    width: 50%;
  }

  .sports {
    width: 45%;
  }

  .sports-name {
    font-size: 18px;
  }

  .container img {
    width: 30vh;
    height: 28vh;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
  }

  .image_div {
    width: 35%;
  }

  .image_div .p-big {
    display: block;
    font-size: 15px;
  }

  .dietbox,
  .videosbox,
  .aboutbox {
    width: 85vh;
    height: 35vh;
  }

  #options {
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }

  .dietbox,
  .videosbox,
  .aboutbox {
    width: 75vh;
    height: 15vh;
    border-radius: 20%;
  }
}

/* for tab */
@media (max-width: 800px) {
  nav h1 {
    font-size: 35px;
    margin-left: 30px;
  }

  .navbar {
    width: 50%;
  }

  .sports {
    width: 35%;
  }

  .sports-name {
    font-size: 15px;
    text-align: center;
  }

  .container img {
    width: 30vh;
    height: 28vh;
    border: 3px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;
  }

  .image_div {
    width: 40%;
  }

  .image_div .p-big {
    display: block;
    font-size: 14px;
  }

  .dietbox,
  .videosbox,
  .aboutbox {
    width: 85vh;
    height: 35vh;
  }

  #options {
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }

  .dietbox,
  .videosbox,
  .aboutbox {
    width: 75vh;
    height: 15vh;
    border-radius: 20%;
  }
}

/* for phone */

@media (max-width: 600px) {
  nav h1 {
    font-size: 28px;
    margin-left: 20px;
  }

  .navbar {
    width: 60%;
  }

  .sports {
    width: 100%;
  }

  .container {
    flex-direction: column-reverse;
  }

  .sports-name {
    font-size: 15px;
    text-align: center;
  }

  .box {
    width: 90%;
    padding: 20px 0;
    margin: 25px;
    font-size: 20px;
    font-weight: 600;
  }

  .image_div {
    width: 100%;
  }

  .container img {
    width: 30vh;
    height: 30vh;
  }

  .image_div .p-big {
    display: none;
  }

  .image_div .p-small {
    display: block;
    width: 90%;
    font-size: 18px;
    margin-top: 30px;
    font-family: Courier New;
    font-weight: 600;
    text-shadow: 2px 2px 4px black;
    border: 4px dashed black;
    padding: 10px;
    background-color: #c755be74;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 30px white;
  }

  #options {
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
  }

  .dietbox,
  .videosbox,
  .aboutbox {
    width: 50vh;
    height: 15vh;
    border-radius: 20%;
  }
}
