<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Sports</title>
  </head>
  <body>
    <link rel="stylesheet" href="sports.css" />
    <script src="sports.js"></script>
    <nav>
      <div>
          <h1 class="fit">FitTech</h1>
      </div>
      <div class="navbar" id="navbar">
          <li><button onclick="window.location.href='../../../index.html'" class="navLink">Home</button></li>
          <li><button onclick="window.location.href='../../nav/about.html'" class="navLink">About</button></li>
          <li><button onclick="window.location.href='../../nav/service.html'" class="navLink">Services</button></li> 
      </div>
  </nav>
    <div class="container">
      <div class="image_div">
        <img src="../../../static/images/sportspic.jpg" />
        <p class = "p-big">Did you know that engaging in sports improves not just physical fitness but also brain function? Playing sports boosts neuroplasticity, which is the brain’s ability to adapt and grow. This means - athletes often have sharper reflexes, quicker decision-making skills, and even better memory—all thanks to the dynamic nature of sports!</p>
        <p class = "p-small">Did you know that engaging in sports improves not just physical fitness but also brain function? Playing sports boosts neuroplasticity, which is the brain’s ability to adapt and grow.</p>
      </div>
      <div id="sports" class="sports">
        <div class="sports-name"><h1>SPORTS:</h1></div>
        <div class="box" id="football" onclick="window.location.href='football/football.html'">football</div>
        <div class="box" id="cricket" onclick="window.location.href='cricket/cricket.html'">cricket</div>
        <div class="box" id="basketball" onclick="window.location.href='basketball/basketball.html'">basketball</div>
        <div class="box" id="badminton" onclick="window.location.href='batminton/batminton.html'">badminton</div>
        <div class="box" id="tennis"onclick="window.location.href='tennis/tennis.html'">tennis</div>
        <div class="box" id="hockey" onclick="window.location.href='hockey/hockey.html'">hockey</div>
        <div class="box" id="baseball" onclick="window.location.href='baseball/baseball.html'">baseball</div>
        <div class="box" id="rugby" onclick="window.location.href='rugby/rugby.html'">rugby</div>
        <div class="box" id="boxing" onclick="window.location.href='boxing/boxing.html'">boxing</div>
        <div class="box" id="judo" onclick="window.location.href='judo/judo.html'">judo</div>
      </div>
    </div>
  </body>
</html>
