<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Catagory</title>
</head>
<body>
    <link rel="stylesheet" href="catagory.css">
    <script src="catagory.js"></script>
    <nav>
        <div>
            <h1 class="fit">FitTech</h1>
        </div>
        <div class="navbar" id="navbar">
            <li><button onclick="window.location.href='../../index.html'" class="navLink">Home</button></li>
            <li><button onclick="window.location.href='../nav/about.html'" class="navLink">About</button></li>
            <li><button onclick="window.location.href='../nav/service.html'" class="navLink">Services</button></li> 
        </div>
    </nav>
    <div class="container" >
        <div onclick="window.location.href='sports/sports.html'" class="sports" id="sports ">sports</div>
        <div onclick="window.location.href='excersise/excersise.html'" class="excersise" id="excersise">exercise</div>
    </div>
</body>
</html>