<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Excersise</title>
</head>
<body>
    <link rel="stylesheet" href="excersise.css">
    <script src="excersise.js"></script>
    <nav>
        <div>
            <h1 class="fit">FitTech</h1>
        </div>
        <div class="navbar" id="navbar">
            <li><button onclick="window.location.href='../../../index.html'" class="navLink">Home</button></li>
            <li><button onclick="window.location.href='../../nav/about.html'" class="navLink">About</button></li>
            <li><button onclick="window.location.href='../../nav/service.html'" class="navLink">Services</button></li> 
        </div>
    </nav>
    <div class="container">
        <div id="exercise" class="excersise">
            <div class = "exercise-name"><h1 >EXERCISE: </h1></div>
            <div class="box" id="pushup" onclick="window.location.href='pushup/pushup.html'">Pushup</div>
            <div class="box" id="situp" onclick="window.location.href='situp/situp.html'">Situp</div>
            <div class="box" id="jumpingjacks" onclick="window.location.href='jumpingjacks/jumpingjacks.html'">Jumping Jacks</div>
            <div class="box" id="burpees" onclick="window.location.href='burpees/burpress.html'">Burpees</div>
            <div class="box" id="lightcardio" onclick="window.location.href='lightcardio/lightcardio.html'">Light Cardio</div>
            <div class="box" id="squats" onclick="window.location.href='squarts/squarts.html'">Squats</div>
            <div class="box" id="shoulderpress" onclick="window.location.href='sholderpress/sholderpress.html'">Shoulder-press</div>
            <div class="box" id="benchpress" onclick="window.location.href='benchpress/benchpress.html'">Benchpress</div>
            <div class="box" id="planks" onclick="window.location.href='planks/planks.html'">Planks</div>
            <div class="box" id="running" onclick="window.location.href='running/running.html'">Running</div>
        </div>
        <div class ="image_div">
            <img src = "../../../static/images/sportspic.jpg">
            <p class = "p-big">Exercise is like a rejuvenating elixir for both body and mind. Have you ever noticed how a good workout leaves your skin glowing? That’s because the rush of blood nourishes your skin while sweat flushes out toxins, giving you a fresh complexion. Plus, those endorphins not only boost your mood but also ignite creativity and sharpen your focus.</p>
            <p class = "p-small">Have you ever noticed how a good workout leaves your skin glowing? That’s because the rush of blood nourishes your skin while sweat flushes out toxins, giving you a fresh complexion.</p>
        </div>
        
    </div>
</body>
</html>